<div ng-include="'components/navbar/navbar.html'"></div>

<button ng-click="getStatus('58404842a71d6dca758ef106')">Get Status</button>

<table style="width:100%; font-family: arial, sans-serif; border-collapse: collapse;" id="table1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Team Name</th>
          <th>Captain Name</th>
          <th>Captain ID</th>
          <th>Captain Email</th>
          <th>Captain Phone</th>
          <th>Captain College</th>
          <th>Team Members</th>
          <th ng-if="eventDetails.requireTDP">TDP</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="team in eventDetails.registeredTeams track by $index">
          <td>{{ $index + 1 }}</td>
          <td>{{ team.teamName }}</td>
          <td>{{ team.teamLeader.name }}</td>
          <td>{{ team.teamLeader.festID }}</td>
          <td>{{ team.teamLeader.email }}</td>
          <td>{{ team.teamLeader.phoneNumber }}</td>
          <td>{{ team.teamLeader.college.collegeName }}</td>
          <td><p ng-repeat = "member in team.teamMembers track by $index">{{ member.name }} - {{member.festID}}<br></p></td>
          <td><div ng-repeat="file in files"><a ng-if="team._id == file.split('-')[1].split('.')[0]" ng-href="{{fileDownloadLink}}/{{file}}" target="_blank">{{file}}</a></div></td>
        </tr>
      </tbody>
    </table>