<div ng-include="'components/navbar/navbar.html'"></div>

<button ng-repeat="project in projectsCreated track by $index" ng-click="getStatus($index)">Get Status of {{project.name}}</button>

<table style="width:100%; font-family: arial, sans-serif; border-collapse: collapse;" id="table1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Resume</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in studentsApplied track by $index">
          <td>{{ $index + 1 }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td><div ng-repeat="file in files"><a ng-if="student._id == file.split('-')[1].split('.')[0]" ng-href="{{fileDownloadLink}}/{{file}}" target="_blank">{{file}}</a></div></td>
        </tr>
      </tbody>
    </table>