<div ng-include="'components/navbar/navbar.html'"></div>

<table style="width:100%; font-family: arial, sans-serif; border-collapse: collapse;" id="table1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Project Name</th>
          <th>Project Description</th>
          <th>Project Incentives</th>
          <th>Project File</th>
          <th>Approval Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in allProjects track by $index">
          <td>{{ $index + 1 }}</td>
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.incentives }}</td>
          <td><div ng-repeat="file in files"><a ng-if="project.name == file.split('.')[0]" ng-href="/api/imgs/file/{{file}}" target="_blank">{{file}}</a></div></td>
          <td><input type="checkbox" ng-model="project.isApproved" ng-click="approvalStatusUpdate($index, project.isApproved)"></td>
        </tr>
      </tbody>
    </table>