<div ng-include="'components/navbar/navbar.html'"></div>

<button ng-repeat = "project in allProjects track by $index" ng-click="getInfo($index)">Get info for {{project.name}}</button>

<h1 ng-if="selectedProject">{{selectedProject.name}}</h1>
<div ng-if="selectedProject">{{selectedProject.description}}</div>
<div ng-if="selectedProject">{{selectedProject.incentives}}</div>

<div ng-repeat="file in files"><a ng-if="selectedProject.name == file.split('.')[0]" ng-href="/api/imgs/file/{{file}}" target="_blank">{{file}}</a></div><br><br><br>
<input ng-if="selectedProject"
    type="file" 
    ngf-select 
    file-model="myFile" 
    name="file" 
    ngf-max-size="5MB" 
/>
<button ng-if="selectedProject" ng-click="applyForProject(selectedProject._id)">Apply</button>
</div>