<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-repeat="file in files"><a ng-href="/api/imgs/file/{{file}}" target="_blank">{{file}}</a></div><br><br><br>
<input 
    type="file" 
    ngf-select 
    file-model="myFile" 
    name="file" 
    ngf-max-size="5MB" 
/>
<button ng-click="applyForProject('58404842a71d6dca758ef106')">Apply</button>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
